<c-card cTableColor="danger">
  <c-card-body>
    
    <c-card class="mb-4">
      <c-card-header>Wallets</c-card-header>
      <c-card-body>
        <!-- table 1 -->
        <table [striped]="true" cTable>
          <thead>
            <tr>
              <th scope="col">#Action</th>
              <th scope="col">Wallet Name</th>
              <th scope="col">Wallet Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wallet of wallets;">
              <th scope="row">
                <button cButton color="primary" variant="outline">Edit</button>
                <button cButton color="secondary" variant="outline">Delete</button>
              </th>
              <td>{{ wallet.name }}</td>
              <td>{{ wallet.balance }}</td>
            </tr>
          </tbody>
        </table>
        
      </c-card-body>
    </c-card>
  </c-card-body>
</c-card>